[Desktop Entry]
Version=1.0
Name=Git Watcher
Name[FR]=Git Watcher
GenericName=Git repository watcher and organizer
GenericName[FR]=Surveillance et gestion de versions Git
Comment=Git desktop GUI
Comment[FR]=Interface de gestion Git
Exec=/usr/bin/gitw
Icon=/usr/share/gitw/icon.png
Type=Application
Terminal=false
Categories=Development;RevisionControl
